body{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mr-1{
    margin-right: 1rem;
}

.mb-1{
    margin-bottom: 1rem;
}

[v-cloak]{
    display: none;
}
